# Ejemplo de archivo terraform.tfvars
# Copia este archivo como terraform.tfvars y personaliza los valores

# region = "us-east-1"
# project_prefix = "provesi"
# instance_type = "t2.small"
# db_instance_type = "t2.micro"
# db_password = "tu_password_seguro_aqui"
